#random-posts img {float: left;margin-right: 10px;width: 45px;height: 45px;background-color: #EEEEEE;padding: 3px;border-radius: 70px;box-shadow:1px 1px 5px rgba(128,128,128,0.5)}ul#random-posts li {margin-bottom: 3px;border-bottom: 1px solid #E8E8E8;padding: 6px 2px;}ul#random-posts li span {font: 11px monospace;}#random-posts a {color: #222;font-size: 14px}#random-posts a:hover {color: #E75A3A;}.PopularPosts ul li:before, #random-posts li:before{display:none}.PopularPosts ul li {margin-bottom: 10px; font-weight: bold; padding-bottom: 5px; border-bottom: 1px solid #eee; }
.ajax-search{padding:20px;margin-top: 20px;background:#fff!important;box-shadow:0 0 15px rgba(0,0,0,0.15);max-height:450px!important}
.ajax-search h3{font-size:14px;font-weight:normal;margin:0 0 20px 0}
.ajax-search li{position:relative;display:inline-block;width:100%;margin:0 0 10px 0;overflow:hidden}
.ajax-search li h4{font-size:13px;font-weight:normal;margin:0 15px 0 0}
.ajax-search li h4 a{color:#000}
.ajax-search li h4 mark{background-color:transparent;color:#000;text-decoration:underline;transition:all .3s}
.ajax-search-image{float:left;margin:0 10px 0 0}
.ajax-search-image img{border-radius:5px}
.ajax-search-pager a{display:inline-block;clear:both;overflow:hidden;background:#2895d0;color:#fff;font-size:13px;padding:5px 10px;border-radius:3px;margin:15px auto 0 auto}
.ajax-search-pager a:hover{background:#333;color:#fff}
@media screen and (max-width:768px){
.ajax-search li{position:relative;display:inline-block;float:left;width:100%;margin:0 0 10px 0;overflow:hidden}
}
